{{#if error}}
<div style = "color:red">{{error}}</div>
{{/if}}

<form method="POST" action="" class="ootd-form">
    <h2>DELETE OOTD</h2>
        TITLE: <input type="text" name="title" value=""><br>
    <input type="submit">
</form>