<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    </head>
    <header>
        <h1 id="nav-title"><a href="/">OOTD</a></h1>
        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/u/{{username}}">Profile</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>          
    </header>
    <body>
        {{!-- <div class="userID">
            {{#if username}}
                logged in as {{username}}
            {{/if}}
        </div> --}}

        {{{body}}}
    </body>
</html>






