

{{#if error}}
<div style = "color:red">{{error}}</div>
{{/if}}

<form method="POST" action="" class="ootd-form">
    <h2>login</h2>
    USERNAME: <input type="text" name="username" value="" ><br>
    PASSWORD: <input type="password" name="password" value=""><br>
    <input type="submit">
    <a href="/register">
        <button type="button">CREATE ACCOUNT</button>
    </a>
</form>