{{#if error}}
<div style = "color:red">{{error}}</div>
{{/if}}

<form method="POST" action="">
    <h2>Modifying OOTD</h2>
    ORIGINAL TITLE: <input type="text" name="originalTitle" value=""><br>
    MODIFIED TITLE: <input type="text" name="modifiedTitle" value=""><br>
    MODIFIED BRANDS: <input type="text" name="modifiedBrands" value=""><br>
    <input type="submit">
</form>