<h2>Registeration</h2>

{{#if error}}
<div style = "color:red">{{error}}</div>
{{/if}}

<form method="POST" action="" class="ootd-form">
    USERNAME: <input type="text" name="username" value="" required>
    PASSWORD: <input type="password" name="password" value="" required>
    <input type="submit">
</form>